<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Conpatible" content="IE=edge" />
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{verificarController.verificarSesionAdminGeneral}" />
	</f:metadata>
</h:head>
<h:body>
	<ui:composition template="plantilla.xhtml">

		<ui:define name="left"></ui:define>
		<ui:define name="content">
			<div class="container">
				<div class="navbar navbar-inverse"></div>
				<div class="navbar-brand">Alta de Categoria</div>
				<div class="row">
					<div class="col-xs-12">
						<h:form id="categoriaForm">
							<b:container layout="fluid">
								<b:row>
									<b:column span="1" offset="3">
										<h:outputText value="Nombre:" for="name" />
									</b:column>
									<b:column span="4">
										<b:inputText placeholder="Nombre" id="name"
											value="#{MarcaController.nombreCategoria}" required="true"
											required-message="Campo obligatorio" update="@(.message)">
											<f:facet name="prepend">
												<b:icon name="user" />
											</f:facet>
										</b:inputText>
									</b:column>
									<b:column span="3" style-class="message">
										<b:message for="name" />
									</b:column>
								</b:row>

								<br></br>
								<br></br>
								<b:row>
									<b:column span="2" offset="5">
										<b:commandButton value="Guardar"
											onclick="ajax:MarcaController.insertarCategoria()" ajax="true"
											update="@form" look="success" style="width:100%" />
									</b:column>

								</b:row>

							</b:container>
						</h:form>




					</div>
				</div>
			</div>
		</ui:define>

	</ui:composition>
</h:body>
</html>
