<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Conpatible" content="IE=edge" />
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>

</h:head>
<h:body>
	<ui:composition template="plantilla.xhtml">
		<ui:define name="left"></ui:define>
		
		<ui:define name="content">
			<div class="container">
				<div class="navbar navbar-inverse">
				</div>
				<div class="navbar-brand"></div>
				<div class="row">
					<div class="col-xs-10">




<b:panel title="Step 3: Configuracion de aplicaciones externas" look="info" collapsible="false">
    
    <h:form id="crearVerticalForm4" enctype="multipart/form-data">
  <b:container layout="fluid">
   
      <b:row>
      <b:column span="2" offset="1">
          <h:outputText value="Imagen del logo:" />
        </b:column>
        <b:column span="3">
        
       	<p:fileUpload fileUploadListener="#{verticalController.submirImagen()}"  mode="advanced" dragDropSupport="false"
           update="messages" sizeLimit="100000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
<p:growl id="messages" showDetail="true" />
       	
       	</b:column>
      
      </b:row>
      
         
      
      <br></br>
      <br></br>
      
           <b:column span="2" offset="2">
          <b:button icon-spin="true" icon="glyphicon-circle-arrow-left" icon-size="2x"
      value="Atras" outcome="vertical3.xhtml"
      look="success"  style="width:80%" />
        </b:column>
        
         <b:row>
        <b:column span="2" offset="2">
          <b:commandButton icon-spin="true" icon="glyphicon-circle-arrow-right" icon-size="2x" value="Crear negocio" onclick="ajax:#{verticalController.crearVertical()}" ajax="true"  update="@form" look="success"
            style="width:80%" />
            
           
        </b:column>
      
    
      </b:row>
   
     
  
  </b:container>
</h:form>
    
  
</b:panel>








							</div>
						</div>
					</div>
				

		</ui:define>
	</ui:composition>


</h:body>
</html>