<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Conpatible" content="IE=edge" />
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
<f:metadata>
		<f:event type="preRenderView" listener="#{verificarController.verificarSesionAdminGeneral}"/>
	</f:metadata>
</h:head>
<h:body>
	<ui:composition template="plantilla.xhtml">
		<ui:define name="left"></ui:define>
		<!-- 		<ui:define name="content"> -->

		<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script> -->
		<ui:define name="content">
			<div class="container">
				<div class="navbar navbar-inverse">
				</div>
				<div class="navbar-brand"></div>
				<div class="row">
					<div class="col-xs-10">

					<b:panel title="Step 1" look="info" collapsible="false">
						<h:form id="crearEmpresaForm">
							<b:container>
								<b:row>
									<b:column span="2" offset="1">
										
									</b:column>
									<b:column span="3">
										<f:metadata>
										
										<f:viewParam name="email" 
												value="#{ConfiguracionController.email}"/>
										</f:metadata>
									</b:column>
									
								</b:row>
								<b:row>
									<b:column span="2" offset="1">
										<h:outputText value="Nombre:" for="nombre" />
									</b:column>
									<b:column span="3">
										<b:inputText placeholder="Nombre empresa" id="nombre"
												value="#{ConfiguracionController.nombre}" required="true"
												required-message="Campo obligatorio" update="@(.message)">
										</b:inputText>
									</b:column>
									<b:column span="3" style-class="message">
										<b:message for="nombre" />
									</b:column>
								</b:row>
								<b:row>
									<b:column span="2" offset="1">
										<h:outputText value="Sitio Cliente" for="urlFront" />
									</b:column>
									<b:column span="3">
										<b:inputText placeholder="URL para cliente" id="urlFront"
												value="#{ConfiguracionController.urlFront}" required="true"
												required-message="Campo obligatorio" update="@(.message)">
										</b:inputText>
									</b:column>
									<b:column span="3" style-class="message">
										<b:message for="urlFront" />
									</b:column>
								</b:row>
								<b:row>
									<b:column span="2" offset="1">
										<h:outputText value="Sitio Admin:" for="urlBack" />
									</b:column>
									<b:column span="3">
										<b:inputText placeholder="URL para admin" id="urlBack"
													value="#{ConfiguracionController.urlBack}" required="true"
													required-message="Campo obligatorio" update="@(.message)">
										</b:inputText>
									</b:column>
									<b:column span="3" style-class="message">
										<b:message for="urlBack" />
									</b:column>
								</b:row>
						<br></br>
						<br></br>
     							<b:row>
									<b:column span="2" offset="5">
										<b:commandButton icon-spin="true" icon="glyphicon-circle-arrow-right" icon-size="2x" value="Siguiente"
														onclick="ajax:ConfiguracionController.nextToStep2()"
														ajax="true" update="@form" look="success" />
									</b:column>
								</b:row>
						</b:container>
									</h:form>
									<f:facet name="footer">
    
     </f:facet>

								</b:panel>






							</div>
						</div>
					</div>
			

		</ui:define>
	</ui:composition>


</h:body>
</html>