<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Conpatible" content="IE=edge" />
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
<f:metadata>
		<f:event type="preRenderView" listener="#{verificarController.verificarSesionAdminGeneral}"/>
	</f:metadata>
</h:head>
<h:body>
	<ui:composition template="plantilla.xhtml">
		<ui:define name="left"></ui:define>
		<ui:define name="content">
			<div class="container">
				<div class="navbar navbar-inverse"></div>
				<div class="navbar-brand"></div>
				<div class="row">
					<div class="col-xs-10">
						<b:panel title="Step 2: Configuracion de aplicaciones externas" look="info" collapsible="false">
							<h:form id="crearConfiguracionForm2" >
								<b:container>
									<b:row>
    							<b:column span="2" offset="1">
          							<h:outputText value="Id para Facebook:" for="secretidface" />
        						</b:column>
        						<b:column span="3">
          							<b:inputText placeholder="secretface id" id="secretidface" value="#{ConfiguracionController.secret_id_facebook}"
                      					required="true" required-message="Campo obligatorio" update="@(.message)">
            						</b:inputText>
        						</b:column>
        						<b:column span="3" style-class="message">
          							<b:message for="secretidface" />
        						</b:column>
      						</b:row>
      						<b:row >
        						<b:column span="2" offset="1">
          							<h:outputText value="Servicio de notificación:" for="notifAppId" />
        						</b:column>
        						<b:column span="3">
          							<b:inputText placeholder="notification id" id="notifAppId" value="#{ConfiguracionController.key_push_firebase}"
                      					required="true" required-message="Campo obligatorio" update="@(.message)">
            						</b:inputText>
        						</b:column>
        						<b:column medium-screen="3" style-class="message">
          							<b:message for="notifAppId" />
        						</b:column>
      						</b:row>
      						<b:row >
        						<b:column span="2" offset="1">
          							<h:outputText value="APP Id:" for="AppId" />
        						</b:column>
        						<b:column span="3">
          							<b:inputText placeholder="application id" id="AppId" value="#{ConfiguracionController.app_id}"
                      					required="true" required-message="Campo obligatorio" update="@(.message)">
            						</b:inputText>
        						</b:column>
        						<b:column medium-screen="3" style-class="message">
          							<b:message for="AppId" />
        						</b:column>
      						</b:row>
       						<b:row >
        						<b:column span="2" offset="1">
          							<h:outputText value="Token pasarela de pagos:" for="tkpasarela" />
        						</b:column>
        						<b:column span="3">
          							<b:inputText placeholder="application id" id="tkpasarela" value="#{ConfiguracionController.token_pasarela}"
                      					required="true" required-message="Campo obligatorio" update="@(.message)">
            						</b:inputText>
        						</b:column>
        						<b:column medium-screen="3" style-class="message">
          							<b:message for="tkpasarela" />
        						</b:column>
      						</b:row>
									<br></br>
									<br></br>

									<b:row>
										<b:column span="2" offset="2">
											<b:button icon-spin="true" icon="glyphicon-circle-arrow-left"
												icon-size="2x" value="Atras" outcome="configuracion.xhtml"
												look="success" style="width:80%" />
										</b:column>
										<b:column span="2" offset="2">
											<b:column span="2" offset="5">
												<b:commandButton icon-spin="true"
													icon="glyphicon-circle-arrow-right" icon-size="2x"
													value="Siguiente"
													onclick="ajax:ConfiguracionController.nextToStep3()"
													ajax="true" update="@form" look="success" />
											</b:column>
										</b:column>
									</b:row>
									

								</b:container>

							</h:form>
						</b:panel>






					</div>
				</div>
			</div>


		</ui:define>
	</ui:composition>


</h:body>
</html>