
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">

	
<h:head>
	<title>Login Page</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="X-UA-Conpatible" content="IE=edge"/>
	<h:outputStylesheet library="css" name="bootstrap.min.css"/>
	
</h:head>
<h:body>
	<ui:composition template="plantilla.xhtml">
		
		<ui:define name="left">
		</ui:define>
		
		<ui:define name="content">
			<div class="container" >
			
				<div class="navbar navbar-inverse">
				</div>
				<div class="row">
					<div class="col-xs-12">
<!-- 						<h:form styleClass="form-horizontal"> -->
						
						
<!-- 							<h4>Login</h4> -->
							
<!-- 						 <p:growl id="msgs" showDetail="true" />  -->
<!-- 							<div class="form-group"> -->
<!-- 								<h:outputLabel for="txtMail" value="Mail" styleClass="control-label col-sm-3"/> -->
<!-- 								<div class="col-sm-3"> -->
<!-- 									<h:inputText id="txtMail" value="#{loginController.usuario.email}" required="true" styleClass="form-control"/> -->
<!-- 								</div> -->
<!-- 							</div> -->
								
<!-- 							<div class="form-group"> -->
<!-- 								<h:outputLabel for="txtPassword" value="Password" styleClass="control-label col-sm-3"/> -->
<!-- 								<div class="col-sm-3"> -->
<!-- 									<h:inputSecret id="txtPassword" value="#{loginController.usuario.password}" required="true" styleClass="form-control"/> -->
<!-- 								</div> -->
<!-- 							</div>	 -->
<!-- 							<div class="form-group"> -->
<!-- 								<div class="col-sm-offset-3 col-sm-3"> -->
<!-- 									<h:commandButton action="#{loginController.iniciarSesion()}" value="Login" styleClass="btn btn-default"/> -->
<!-- 								</div>		 -->
<!-- 							</div> -->
							
							
							
							
							
<!-- 						</h:form> -->

<br></br>
      <br></br>
<h:form id="loginForm">
  <b:container layout="fluid">
   
      <b:row>
        <b:column span="1" offset="3">
          <h:outputText value="Usuario" for="username" />
        </b:column>
        <b:column span="4">
          <b:inputText placeholder="usuario" id="username" value="#{loginController.username}"
                       update="@(.message)">
            <f:facet name="prepend">
              <b:icon name="user" />
            </f:facet>
          </b:inputText>
        </b:column>
        <b:column span="3" style-class="message">
          <b:message for="username" />
        </b:column>
      </b:row>
      <b:row>
        <b:column span="1" offset="3">
          <h:outputText value="Password:" />
        </b:column>
        <b:column span="4">
          <b:inputSecret placeholder="Password" id="password" value="#{loginController.password}"
                          update="@(.message)">
            <f:facet name="prepend">
              <b:iconAwesome name="key" />
            </f:facet>
          </b:inputSecret>
        </b:column>
        <b:column span="3" styleClass="message">
          <b:message for="password" />
        </b:column>
      </b:row>
      <br></br>
      <br></br>
      <b:row>
        <b:column span="2" offset="5">
          <b:commandButton value="login" onclick="ajax:loginController.iniciarSesion()" ajax="true"  update="@form" look="success"
            style="width:100%" />
        </b:column>
    
      </b:row>
  
  </b:container>
</h:form>



					</div>
				</div>
			</div>
		</ui:define>
	
	</ui:composition>
	
</h:body>
</html>