<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="X-UA-Conpatible" content="IE=edge"/>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<f:metadata>
		<f:event type="preRenderView" listener="#{verificarController.verificarSesionAdminGeneral}"/>
	</f:metadata>
</h:head> 
<h:body> 
	<ui:composition template="plantilla.xhtml">
		<ui:define name="content">
			<div class="container" id="wrapper">
			
				<div class="navbar navbar-inverse">
				</div>
				<div class="row">
					<div class="col-xs-12">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<td></td>
									<td>Foto</td>
									<td>Nombre</td>
									<td>Email</td>
									<td>Telefono</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								<ui:repeat var="usuar" value="#{listController.getAllUsuarios()}">
									<tr>
										<td>#{usuar.imagen} #{usuar.nombre}</td>
										<td>#{usuar.nombre} #{usuar.apellido}</td>
										<td>#{usuar.email}</td>
										<td>#{usuar.telefono}</td>
										<td>
											<h:form>
												<h:commandLink action="#{listController.bloquear(usuar.id)}" value="Bloquear">
													<!-- <i class="glyphicon glyphicon-edit"></i> -->
												</h:commandLink>
											</h:form>
										</td>
										<td>
											<h:form>
												<h:commandLink action="#{listController.delete(usuar.id)}" value="Delete">
													<!-- <i class="glyphicon glyphicon-trash"></i> -->
												</h:commandLink>
											</h:form>
										</td>
									</tr>
								</ui:repeat>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</ui:define>
	
	</ui:composition>
</h:body> 
</html>
