<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Conpatible" content="IE=edge" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="simple-sidebar.css" />

</h:head>
<h:body>
	<div id="top">
		<ui:insert name="top">
			<div class="navbar navbar-inverse navbar-fixed-top"
				style="background-color: #000; border-color: #222">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>

					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<c:choose>
								<c:when test="#{verificarController.estadoSesion() > 0}">
									<li><h:form>
											<div class="navbar-brand">
												<h:commandLink action="usuario.xhtml" style="color:#999999"
													value="#{verificarController.loginText()}" />
											</div>
										</h:form></li>
									<li></li>
									<li><h:form>
											<div class="navbar-brand">
												<h:commandLink
													actionListener="#{loginController.cerrarSesion()}"
													style="color:#999999" action="index.xhtml" value="Logout" />
											</div>
										</h:form></li>

								</c:when>
								<c:otherwise>
									<li><h:form>
											<div class="navbar-brand">
												<h:commandLink action="index.xhtml" value="Login"
													style="color:#999999" />
											</div>
										</h:form></li>
									<li></li>
									<li><h:form>
											<div class="navbar-brand">
												<h:commandLink
													rendered="#{verificarController.isBackOffice()}"
													action="usuario.xhtml" value="Registrarse"
													style="color:#999999" />
											</div>
										</h:form></li>
								</c:otherwise>
							</c:choose>


						</ul>

					</div>
				</div>
			</div>
		</ui:insert>
	</div>

	<div id="left">
		<ui:insert name="left">
			<div id="wrapper">
				<div id="sidebar-wrapper" style="top: 30px">
					<ul class="sidebar-nav">

						<li class="sidebar-brand"><a
							href="#{request.contextPath}/index.xhtml"> Inicio </a></li>
						<li><h:form>
								<div class="sidebar-brand">
									<h:commandLink action="usuario.xhtml" value="Registrar Usuario"
										style="color:#999999" />
								</div>
							</h:form></li>
						<li><a href="#{request.contextPath}/usuariosActivos.xhtml">Ver
								usuarios activos</a></li>
						<li><a href="#{request.contextPath}/ganancia.xhtml">Ganancias</a>
						</li>

						<b:dropMenu value="Marcas">
							<b:navLink value="Agregar Marca"
								href="#{request.contextPath}/#{MarcaController.agregarMarca()}"></b:navLink>
							<b:navLink value="Lista de marcas"
								href="#{request.contextPath}/listMarcas.xhtml"></b:navLink>

						</b:dropMenu>

						<b:dropMenu value="Categorias">
							<b:navLink value="Agregar Categoria"
								href="#{request.contextPath}/#{MarcaController.agregarCategoria()}">
							</b:navLink>
							<b:navLink value="Lista de Categorias"
								href="#{request.contextPath}/listCategorias.xhtml"></b:navLink>

						</b:dropMenu>
						<b:dropMenu value="Productos">
							<b:navLink value="Agregar Producto"
								href="#{request.contextPath}/#{ProductoController.agregarProducto()}">
							</b:navLink>
							<b:navLink value="Lista de Productos"
								href="#{request.contextPath}/lisProductos.xhtml"></b:navLink>

						</b:dropMenu>

					</ul>
				</div>
			</div>


		</ui:insert>
	</div>

	<div id="content" class="center_content">
		<ui:insert name="content">

			<p>Acceda a los reportes en el menu</p>

		</ui:insert>
	</div>
</h:body>
</html>
