<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Conpatible" content="IE=edge" />
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<f:metadata>
		<f:event type="preRenderView"
			listener="#{verificarController.verificarSesionAdminGeneral}" />
	</f:metadata>
</h:head>
<h:body>
	<ui:composition template="plantilla.xhtml">
		<ui:define name="left"></ui:define>
		<!-- 		<ui:define name="content"> -->

		<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script> -->
		<ui:define name="content">
			<div class="container">
				<div class="navbar navbar-inverse"></div>
				<div class="navbar-brand"></div>
				<div class="row">
					<div class="col-xs-10">
						<h:form id="crearProductoForm" enctype="multipart/form-data">
							<b:tabView title="Alta de Producto">
								<b:tab title="Step 1- info" look="info" collapsible="false">

									<b:container>

										<b:row>

										</b:row>
										<b:row>
											<b:column span="2" offset="1">
												<h:outputText value="Nombre:" for="nombre" />
											</b:column>
											<b:column span="3">
												<b:inputText placeholder="Nombre Producto" id="nombre"
													value="#{ProductoController.nombre}" required="true"
													required-message="Campo obligatorio" update="@(.message)">
												</b:inputText>
											</b:column>
											<b:column span="3" style-class="message">
												<b:message for="nombre" />
											</b:column>
										</b:row>
										<b:row>
											<b:column span="2" offset="1">
												<h:outputText value="Descripción" for="descripcion" />
											</b:column>
											<b:column span="3">
												<b:inputTextarea placeholder="descripcion" id="descripcion"
													value="#{ProductoController.descripcion}" required="true"
													required-message="Campo obligatorio" update="@(.message)">
												</b:inputTextarea>
											</b:column>
											<b:column span="3" style-class="message">
												<b:message for="descripcion" />
											</b:column>
										</b:row>
										<b:row>
											<b:column span="2" offset="1">
												<h:outputText value="Marca" for="marca" />
											</b:column>
											<b:column span="2" offset="0">
												<h:selectOneMenu value="#{ProductoController.idMarca}"
													id="marca" style="width:150%">
													<f:selectItem itemLabel="Selecciona Marca" itemValue=""
														noSelectionOption="true" />
													<f:selectItems value="#{MarcaController.getAllMarcas()}"
														var="idmarca" itemValue="#{idmarca.id}"
														itemLabel="#{idmarca.nombre}" />
												</h:selectOneMenu>
											</b:column>
											<b:column span="3" style-class="message">
												<b:message for="marca" />
											</b:column>
										</b:row>
										<b:row>
											<b:column span="2" offset="1">
												<h:outputText value="Categoria" for="categoria" />
											</b:column>
											<b:column span="2" offset="0">
												<h:selectOneMenu value="#{ProductoController.idCategoria}"
													id="categoria" style="width:150%">
													<f:selectItem itemLabel="Selecciona Categoria" itemValue=""
														noSelectionOption="true" />
													<f:selectItems
														value="#{MarcaController.getAllCategorias()}"
														var="idcateg" itemValue="#{idcateg.id}"
														itemLabel="#{idcateg.nombre}" />
												</h:selectOneMenu>
											</b:column>
											<b:column span="3" style-class="message">
												<b:message for="categoria" />
											</b:column>
										</b:row>
										<br></br>
										<br></br>
										<b:column span="2" offset="4">
											<b:button icon-spin="true" icon="glyphicon-circle-arrow-left"
												icon-size="2x" value="Atras" outcome="lisProductos.xhtml"
												look="success" style="width:80%" />
										</b:column>
									</b:container>
								</b:tab>
								<b:tab title="Step 2 - valores">
									<p:panelGrid class="ui-noborder">
										<b:row>

										</b:row>
										<p:row>
											<p:column span="2" offset="1">
												<h:outputText value="Precio" for="precio" />
											</p:column>
											<p:column span="3">

												<p:spinner placeholder="Precio Producto" id="precio"
													value="#{ProductoController.precio}" required="true"
													required-message="Campo obligatorio" update="@(.message)">
													<p:clientValidator event="Keyup" />
													<p:ajax update="msgprecio" event="keyup" />
												</p:spinner>

											</p:column>
											<p:column span="3" style-class="message">
												<p:message for="precio" id="msgprecio" display="icon" />

											</p:column>
											
										</p:row>
										
										<p:row>
											<p:column span="2" offset="1">
												<h:outputText value="Descuento" for="descuento" />
											</p:column>
											<p:column span="3">

												<p:spinner placeholder="descuento" id="descuento"
													value="#{ProductoController.descuento}" required="true"
													required-message="Campo obligatorio" update="@(.message)"
													symbol="%" symbolPosition="s">
												</p:spinner>


											</p:column>
											<p:column span="3" style-class="message">
												<p:message for="descuento" />
											</p:column>
										</p:row>
										<br></br>
										<br></br>
										<p:row>
											<p:column span="2" offset="1">
												<h:outputText value="Stock" for="stock" />
											</p:column>
											<p:column span="3">

												<p:spinner placeholder="stock" id="stock"
													value="#{ProductoController.stock}" required="true"
													required-message="Campo obligatorio" update="@(.message)"
													symbol="%" symbolPosition="s">

												</p:spinner>


											</p:column>
											<p:column span="3" style-class="message">
												<p:message for="stock" />
											</p:column>
										</p:row>
										<br></br>
										<br></br>
										<b:row>
											<p:column span="2" offset="1">
												<h:outputText value="Precio con Descuento" for="precioCdto" />
											</p:column>
											
											<p:column span="2" offset="1">
												<h:outputText value="#{ProductoController.precioConDcto}" for="precioCdto" />
											
											
											</p:column>
										</b:row>
									</p:panelGrid>
									<b:column span="2" offset="4">
											<b:button icon-spin="true" icon="glyphicon-circle-arrow-left"
												icon-size="2x" value="Atras" outcome="lisProductos.xhtml"
												look="success" style="width:80%" />
										</b:column>
								</b:tab>
								<b:tab title="Step 3 - Imagenes" look="info" collapsible="false">
									<b:container>
									<p:panelGrid>
										<b:row>

										</b:row>
										<b:row>
											<b:column span="2" offset="1">
												<h:outputText value="Imagenes" />
											</b:column>
											<b:column span="3">
												<p:fileUpload id="fileupLogo" mode="simple"
												value="#{ProductoController.imagen}"
												skinSimple="true" />
											</b:column>
										</b:row>
										<b:row>
										<!-- 
										<b:column span="3">
										<p:galleria id="gale" value="#{ProductoController.imagenes}" var="ima" panelWidth="250" panelHeight="160" showCaption="false" showOverlays="true">
    											<p:graphicImage value="#{ima.imagen}"/>
										</p:galleria>
										</b:column>		-->	
										<b:column span="3" offset="2">
										 <b:carousel id="limagenes" style="width:510px;height:400px">
											<c:forEach var="imaw" items="#{ProductoController.imagenes}">
												<b:carouselItem>
													<b:image value="#{imaw.imagen}"/>
												
												</b:carouselItem>
											</c:forEach>
										</b:carousel>
										</b:column>
										</b:row>
										<b:row>
												<b:column span="2" offset="3">
													<b:commandButton id="subirImagen" value="Subir Imagen" action="#{ProductoController.agregarImagen()}"></b:commandButton>
												</b:column>
										</b:row>
										
										<b></b>
										<c:choose>
											<c:when test="#{ProductoController.accion=='a'}">
												<b:row>
													<b:column span="2" offset="1">
														<b:commandButton 
															value="Crear Producto"
															action="#{ProductoController.crearProducto()}" />
													</b:column>
													<b:column span="2" offset="2">
													<b:button icon-spin="true" icon="glyphicon-circle-arrow-left"
														icon-size="2x" value="Atras" outcome="listMarcas.xhtml"
														look="success" style="width:80%" />
													</b:column>
												</b:row>
											</c:when>
										<c:otherwise>
										
										<b></b>
										<div>
											<b:row>
												<b:column span="2" offset="1">
													<b:commandButton id="btnCrearProducto" icon-spin="true"
													icon="glyphicon-ok-circle" icon-size="2x"
													value="Actualizar Producto"
													onclick="ajax:MarcaController.modificarMarca()"
													ajax="true" update="@form" look="success" style="width:100%" />
												</b:column>	
												<b:column span="2" offset="2">
													<b:button icon-spin="true" icon="glyphicon-circle-arrow-left"
														icon-size="2x" value="Atras" outcome="listMarcas.xhtml"
														look="success" style="width:80%" />
												</b:column>
										</b:row>
										</div>
										</c:otherwise>
								</c:choose>
									</p:panelGrid>		
									</b:container>
									
								</b:tab>
								<f:facet name="footer">

								</f:facet>

							</b:tabView>
						</h:form>
					</div>
				</div>
			</div>


		</ui:define>
	</ui:composition>


</h:body>
</html>