<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Conpatible" content="IE=edge" />
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
<f:metadata>
		<f:event type="preRenderView" listener="#{verificarController.verificarSesionAdminGeneral}"/>
	</f:metadata>
</h:head>
<h:body>
	<ui:composition template="plantilla.xhtml">

		<ui:define name="left"></ui:define>
		<ui:define name="content">
			<div class="container">
				<div class="navbar navbar-inverse"></div>
				<div class="navbar-brand">Registro</div>
				<div class="row">
					<div class="col-xs-12">


						<h:form id="registroForm">
							<b:container layout="fluid">

								<b:row>
									<b:column span="1" offset="3">
										<h:outputText value="Nombre:" for="name" />
									</b:column>
									<b:column span="4">
										<b:inputText placeholder="Nombre" id="name"
											value="#{registroController.nombre}" required="true"
											required-message="Campo obligatorio" update="@(.message)">
											<f:validateLength minimum="3" />
											<p:ajax update="name" event="keyup" />
											<f:facet name="prepend">
												<b:icon name="user" />
											</f:facet>
										</b:inputText>
									</b:column>
									<b:column span="3" style-class="message">
										<b:message for="name" />
									</b:column>
								</b:row>

								<b:row>
									<b:column span="1" offset="3">
										<h:outputText value="Apellido:" for="apellido" />
									</b:column>
									<b:column span="4">
										<b:inputText placeholder="Apellido" id="apellido"
											value="#{registroController.apellido}" required="true"
											required-message="Campo obligatorio" update="@(.message)">
											
											<p:ajax update="apellido" event="keyup" />
											<f:facet name="prepend">
												<b:icon name="user" />
											</f:facet>
										</b:inputText>
									</b:column>
									<b:column medium-screen="3" style-class="message">
										<b:message for="apellido" />
									</b:column>
								</b:row>

								<b:row>
									<b:column span="1" offset="3">
										<h:outputText value="Telefono:" for="tel" />
									</b:column>
									<b:column span="4">
										<b:inputText placeholder="Telefono" id="tel"
											value="#{registroController.tel}" required="true"
											required-message="Campo obligatorio" update="@(.message)">

										</b:inputText>
										
										
									</b:column>
									<b:column medium-screen="3" style-class="message">
										<b:message for="tel" />
									</b:column>
								</b:row>

								<b:row>
									<b:column span="1" offset="3">
										<h:outputText value="Email:" for="email" />
									</b:column>
									<b:column span="4">
										<b:inputText placeholder="Email@dominio" id="email"
											value="#{registroController.email}" required="true"
											required-message="Campo obligatorio" update="@(.message)">
											<f:validateRequired value="@" />
											<p:ajax update="name" event="keyup" />
											<f:facet name="prepend">
												
											</f:facet>
										</b:inputText>
									</b:column>
									<b:column medium-screen="3" style-class="message">
										<b:message for="email" />
									</b:column>
								</b:row>



								<b:row>
									<b:column span="1" offset="3">
										<h:outputText value="Password:" />
									</b:column>
									<b:column span="4">
										<b:inputSecret placeholder="Password" id="password"
											value="#{registroController.password}" required="true"
											required-message="Campo obligatorio" update="@(.message)" feedback="true" inline="true">
											<f:facet name="prepend">
												<b:iconAwesome name="key" />
											</f:facet>
										</b:inputSecret>
									</b:column>
									<b:column medium-screen="3" styleClass="message">
										<b:message for="password" />
									</b:column>
								</b:row>

								<br></br>
								<br></br>
								<b:row>
									<b:column span="2" offset="5">
										<b:commandButton value="Registrar Usuario"
											onclick="ajax:registroController.insert()" ajax="true"
											update="@form" look="success" style="width:100%" />
										<f:param name="email" value="#{registroController.email}" />
									</b:column>

								</b:row>

							</b:container>
						</h:form>




					</div>
				</div>
			</div>
		</ui:define>

	</ui:composition>
</h:body>
</html>
